.container {
  display: flex;
  min-height: 100vh;
}
.headingContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: padding 0.3s ease;
  background: #dfdfdf41;
}
.projectHeader {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 20px;
  margin-left: 60px;
}
.tablesContainer {
  margin-top: 50px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  margin: 20px 30px;
}
.tablesHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.tableHeaderContainer h2 {
  font-size: 42px;
  font-weight: 600;
  color: var(--main-color);
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table th {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  color: #acabab;
  text-transform: uppercase;
  margin-bottom: 15px;
  border-bottom: #dad9d9 1px solid;
}
.table td {
  padding: 15px 0;
  border-top: 1px solid #eeeeee;
  font-size: 16px;
}

.buttonContainer {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  flex-direction: column;
}

.addButton {
  padding: 8px 10px;
  border-radius: 8px;
  border: none;
  background-color: rgb(223, 135, 3);
  color: white;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
}

.addButton:hover {
  background-color: #e06b00; /* slightly darker orange on hover */
  transform: translateX(-4px);
}

.expandButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}
.dropdownRow td {
  background-color: #f3f4f6; /* light gray for contrast */
  padding: 0;
  border-top: 1px solid #eeeeee;
}
.dropdownContent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 12px 20px;
  margin-bottom: 5px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-6px);
  transition:
    max-height 0.4s ease,
    opacity 0.3s ease,
    transform 0.3s ease;
}
.open {
  max-height: 300px; /* big enough to fit content */
  opacity: 1;
  transform: translateY(0);
}
.clientName {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 6px;
  color: var(--main-color);
  text-transform: uppercase;
  text-decoration: underline 0.5px;
}
.projectsContainer {
}
.projectName {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 6px;
  color: var(--main-color);
  text-transform: uppercase;
  text-decoration: underline 0.5px;
}
.muted {
}
.infoTitle {
  font-size: 18px;
  font-weight: bold;
}
.infoDetails {
  font-size: 16px;
}

.paid {
  font-size: bold;
  color: green;
  text-transform: uppercase;
}
.unpaid {
  font-size: bold;
  color: red;
  text-transform: uppercase;
}
.dropdownActions {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}
.editButton {
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid rgb(223, 135, 3);
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
}
.editButton:hover {
  transform: translateX(-4px);
}
