.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  min-height: 80vh; /* section feels substantial */
}

.headingContainer {
  text-align: center;
  margin-bottom: 50px;
}

.headingText {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
  font-weight: 500;
}

.infoText {
  font-size: 18px;
  line-height: 26px;
  color: #3a3a3a;
  font-weight: 300;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 600px;
}

.input,
.textarea {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 16px;
  outline: none;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.input:focus,
.textarea:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 0 3px rgba(241, 119, 5, 0.2);
}

.buttonContainer{
    display: flex;
    justify-content: center;
}

.button {
  padding: 16px 40px;
  border: none;
  border-radius: 12px;
  background: var(--main-color);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease;
    
}

.button:hover {
  transform: translateY(-2px);
}

/* Mobile */
@media (max-width: 768px) {
  .form {
    width: 100%;
  }
}
