.container {
  display: flex;
  min-height: 100vh;
}

.contentContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: padding 0.3s ease;
  background: #dfdfdf41;
}

.projectHeader {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 20px;
  margin-left: 60px;
}


.crewContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.crewContainer h2{
  font-size: 42px;
  font-weight: 600;
  color: var(--main-color);
}

.box {
  margin-top: 50px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  margin: 20px 30px;
}

.boxTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  color: #9ca3af;
}

.crewContainerHeader {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
}

.financeTable {
  width: 100%;
  border-collapse: collapse;
}

.financeTable th {
  text-align: left;
  font-size: 14px;
  color: #9ca3af;
  padding-bottom: 8px;
}

.financeTable td {
  padding: 10px 0;
  border-top: 1px solid #e5e7eb;
  font-size: 15px;
}
