.hero {
  position: relative;
  width: 100%;
  min-height: 100vh; /* full screen */
}

.heroImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.heroContainer {
  opacity: 0;
  position: absolute;
  bottom: 15%;
  left: 5%;
  max-width: 700px;
  color: white;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
  animation-delay: .3s;
}

@keyframes fadeInUp {
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.Heading {
  font-size: 64px;
  font-weight: 400;
}
.Heading2 {
  font-size: 40px;
  font-weight: 300;
  
}

.buttonContainer {
  display: flex;
  margin-top: 20px;
}

.button {
  margin-left: 20px;
  font-size: 20px;
  background: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-weight: 100;
}

/*Lets add underline that has movement to it. */

.button::after {
  margin-left: 20px;

  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px; 
  width: 1px;
  background: white; 
  transition: width 0.3s ease;
}

.button:hover::after {
  width: 23%; /* how far to animate the line on hover */
}

.icon {
  font-size: 35px;
}
