.container {
  display: flex;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 220px; /* matches sidebar width */
}

.contentContainer {
  padding: 20px;
  flex: 1;
  background: #f9fafb;
}
