.container {
  width: 220px;
  height: 100vh;
  background: #c7772c3b;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease;
}
.container.collapsed{
  width: 80px;
}
.logo {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: var(--main-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: end;
}
.nav a {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
}
.icon {
  font-size: 30px;
  color: inherit;
}
.active {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
  font-size: 1rem;
}
.inactive {
  color: var(--text-color);
  text-decoration: none;
}

.button{
  margin: auto;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--main-color);
}
