.container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 64px;
  padding: 0 30px;
}

.dropdown {
  position: relative;
}

.trigger {
  background: var(--main-color);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.trigger:hover {
  opacity: 0.9;
}

.menu {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;

  background: white;
  border-radius: 12px;
  min-width: 100px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.menuItem {
  width: 100%;
  padding: 12px 16px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  cursor: pointer;
}

.menuItem:hover {
  background: rgba(255, 102, 0, 0.404);
}

.icon{
  font-size: 20px;
}