*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-color: rgb(241,119,5);
  --text-color: rgb(107, 107, 107);
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}